.btn_edit {
  padding: 10px 15px;
}

/* @media screen and (max-width: 848px) {
  .btn_edit, .btn_delete {
    padding: 5px 10px;
  }
}; */
@media screen and (max-width: 576px) {
  .btn_edit, .btn_delete {
    display: none;
  }
};
/* @media screen and (max-width: 576px) {
  .btn_edit, .btn_delete {
    display: none;
  }
} */
